[core]
profile = local
asyncblock = true
paramcompletion = true

[local]
url = {{cloudstack_api_url}}
username = {{cloudstack_admin_user}}
password = {{cloudstack_admin_password}}
apikey =
secretkey =
timeout = 3600
expires = 600
domain = /
signatureversion = 3
verifysslcert = true

[ui]
color = true
prompt = 🐵 >
display = json

